# ---------------------------------------------------
## SETTING FILES AND FOLDERS NOT NEEDED IN PRODUCTION
# ---------------------------------------------------

node_modules/
dist
logs
application
*.env
